<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

  <targets>
    <!-- Dosya log hedefi -->
    <target name="file" xsi:type="File"
            fileName="logs/app.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

    <!-- Veritabanı log hedefi -->
    <target xsi:type="Database" name="db"
     "DefaultConnection": "Server=localhost;Database=DenemeDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;">
      <commandText>
        INSERT INTO LogEntries (Level, Message, Logger, Timestamp, Username)
        VALUES (@level, @message, @logger, @time, @username)
      </commandText>
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
      <parameter name="@username" layout="${scopeproperty:Username}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,database" />
  </rules>
</nlog>
